<div class="container">
  <%= form_with model: @question, url: public_questions_path, method: :post do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col-md-3"><%= f.label :title, '質問タイトル' %></div>
        <div class="col-md-9">
          <%= f.text_field :title, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-3"><%= f.label :genre_id, 'ジャンル' %></div>
        <div class="col-md-9">
          <%= f.select :genre_id, Genre.all.map{ |genre| [genre.name, genre.id] },{}, class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-md-3"><%= f.label :content, '質問内容' %></div>
        <div class="col-md-9">
          <%= f.text_area :content, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit "質問を投稿する", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>